<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class='heading'>
            <div class='heading-title'>Evaluating the power of Berries!</div>
            <div class='heading-desc'>Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon.</div>
        </div>
        <div id='pokemon-app'>
        </div>
    </body>
    <script src='/javascripts/list.js'></script>
</html>